@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  --font: "Poppins"
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 20px;
}


::-webkit-scrollbar-track{
  background: rgb(63, 3, 3);
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App{
  min-height: 100vh;
  background: var(--background);
  color: #fff;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
}